.new-collections{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    /* height: 90vh; */
    /* max-width: 1024px; */
    /* outline: 2px solid black; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: fit-content;
    margin-bottom: 100px;
}

.new-collections h1{
    color: #171717;
    font-weight: 500px;
    font-weight: 600;
    margin-top: 10px;
}

.new-collections hr{
    width: 200px;
    height: 10px;
    border-radius: 20px;
    background:black;
    margin: 10px;
}

.collections-div *{
    box-sizing: border-box;
    width: 90%;
    margin: auto;
}

.collections-div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
    gap: none;
}
